*.log
*.sqlite
*.sqlite-journal
.DS_Store
Icon?
Thumbs.db
*.swp
.*.swp
*~
*.lock
.idea
.buildpath
.project
.settings
*.sublime-project
*.sublime-workspace
.nbproject
nbproject
config.php
!app/models/*
!app/controllers/*
!app/templates/*
!app/validators/*
rules/*.php
data/favicons/*.*
