$ui-device-width: 1366px;

// Theme
$theme-background-main: #e8e8e8;
$theme-background-highlight: #009966;
$theme-background-light: #fFFFFF;

// Bordure
$border-size: 1px;
$border-radius: 5px;

// Bouton
$button-background-grey: #f2f2f2;

// Link
$link-color-hover: #edbf47;

// Font
$ui-font-content: Helvetica, Arial, sans-serif;
$ui-font-highlight: "Montserrat", sans-serif;
$ui-font-title-size:  1rem;
$ui-font-content-size: .9rem;
$ui-font-text-small: .9rem;
$ui-font-color-content: #000;

// Alerts
$alert-warning: #f6c443;
$alert-error: #e74c3c;
$alert-info: #40bac8;
$alert-sucess: #72c5a1;

// Logo 
$logo-basecolor: #339966;