$ui-device-width: 1366px;

// Theme
$theme-background-main: #e8e8e8;
$theme-background-highlight: #009966;
$theme-background-light: #fFFFFF;

// Bordure
$border-size: 1px;
$border-radius: 5px;

// Bouton
$button-background-grey: #f2f2f2;

// Link
$link-color-hover: #edbf47;

// Font
$ui-font-content: Helvetica, Arial, sans-serif;
$ui-font-highlight: "Montserrat","Liberation Sans", sans-serif;
$ui-font-title-size:  1rem;
$ui-font-content-size: .9rem;
$ui-font-text-small: .9rem;
$ui-font-color-content: #000;

// Alerts
$alert-warning: #f6c443;
$alert-error: #e74c3c;
$alert-error-background: rgba(lighten($alert-error, 30%), 0.7);
$alert-error-color: rgba(darken($alert-error, 40%), .8);
$alert-info: #40bac8;
$alert-info-background: rgba(lighten($alert-info, 30%), 0.7);
$alert-info-color: rgba(darken($alert-info, 40%), .8);
$alert-sucess: #72c5a1;
$alert-success-background: rgba(lighten($alert-sucess, 30%), 0.7);
$alert-success-color: rgba(darken($alert-sucess, 40%), .8);
// Logo 
$logo-basecolor: #339966;

// Items
$item-read-background: rgba(lighten(black,60%), .7);