@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; } 

%awesome {
	font-family: "FontAwesome";
}

// Loading
.loading-icon:before {
    content: "☀";
    animation-name: blinker;
    -webkit-animation-name: blinker; /* Chrome, Safari, Opera */
    animation-duration: 500ms;
    -webkit-animation-duration: 500ms; /* Chrome, Safari, Opera */
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
}