.items {
	article {

		@include box-shadow(0 3px 0 darken($theme-background-highlight, 10%));
		background-color:  $theme-background-light;
		margin-bottom: 15px;
		padding: 10px 20px;

		&[data-item-bookmark="0"] {
			.bookmark {
				&:before {
					content: "\f005";
				}
			}
		}
		
		&[data-item-bookmark="1"] {
			.bookmark {
				&:before {
					content: "\f006";
				}
			}
		}
		
		&[data-item-status="read"] {
			// &[data-item-status="feed-items"] {
				background-color: rgba(lighten(black,60%), .7);
			// }
		}

		h2 {
			display: block;
			margin-bottom:  5px;
			
			%commonChld {
				display: inline-block;
			}

			a,
			.favicon {
				@extends %commonChld;
				vertical-align: middle;
			}

			a {
				@extend %title;
				color: #000;
				text-decoration: none;
			}

			.favicon {
				height: 16px;
				width: 16px;
			}
			.feed-last-checked {
				font-size:  .8em;
			}
		}
		.preview {
			@extend %paragraph;
			display: block;
			line-height: 25px;
		}
	}

	.item-menu {
		font-size:  $ui-font-text-small;
		margin-top: 5px;

		li {
			@include inline-block;

			&:before {
				content: " / ";
				padding-right: 5px;
				padding-left: 5px;
			}

			&:first-child {
				&:before {
					display: none;
				}
				
				a {
					&:before {
						content: "\f09e";
					}
				}
			}
			a {
				color: darken($theme-background-highlight, 5%);
				text-decoration: none;

				&:before {
					margin-right: 2px;
					@extend %awesome;
				}
				&.original {
					&:before {
						content: "\f0ac";
					}
				}
				&[href*="action=confirm-remove-feed"] {
					&:before {
						content: "\f014";
					}
				}
				&[href*="action=edit-feed"] {
					&:before {
						content: "\f044";
					}
				}
				&[href*="action=refresh-feed"] {
					&:before {
						content: "\f021";
					}
				}

				&[href*="action=mark-item-removed"] {
					&:before {
						content: "\f014";
						margin-right: 2px;
					}	
				}
				
				// Mark as Read 
				&.mark {
					&:before {
						content: "\f05d";
					}
					// Mark as Unread
					&[data-action="mark-read"] {
						&:before {
							content: "\f058";
						}
					}
				}

				&[href*="action=disable-grabber-feed"] {
					&:before {
						content: "\f057";
					}	
				}
				&[href*="action=enable-grabber-feed"] {
					&:before {
						content: "\f058";
					}	
				}
				&[href*="action=enable-feed"] {
					&:before {
						content: "\f05d";
					}	
				}
			}
		}
	}
	#bottom-menu {
		display: none;
		visibility: hidden;
	}
}
#items-paging {
	display: block;
	@include pie-clearfix;

	a {
		@include flat-box($theme-background-highlight, $button-background-grey, 5px);
		padding: {
			left: 10px;
			right: 10px;
		}
		text-decoration: none;
	}

	#previous-page {
		float: left;
	}
	#next-page {
		float: right;
	}
}