.item {
	position: relative;
	
	&[data-item-bookmark="0"] {
		.bookmark-icon {
			&:before  {
				content: "\f006";
			}
		}
	}

	&[data-item-bookmark="1"] {
		.bookmark-icon {
			&:before  {
				content: "\f005";
			}
		}
	}
	
	> nav {
		@include pie-clearfix;

		&.top {
			display: block;
			float: right;
		}
		&.bottom {
			display: none;
		}

		span {
			a {
				text-decoration: none;
				color: $theme-background-highlight;
			}
			
			@include box-shadow(0 3px 0 $theme-background-highlight);
			@include border-radius(5px);
			background-color: $button-background-grey;
			display: block;
			padding: 5px 10px;
			color: darken($button-background-grey, 45%);

			&.nav-left {
				float: left;
				margin-right: 10px;
			}
			&.nav-right {
				float: right;
			}
		}
	}
	> h1 {
		@extend %title;
		display: inline-block;
		float: left;
		line-height: 25px;
		margin-bottom: 20px;
		max-width: 82%;

		a {
			color: $ui-font-color-content;
			text-decoration: none;
			vertical-align: middle;
		}

	}

	.item-infos {
		border-bottom: 1px solid darken($button-background-grey, 25%);
		border-top: 1px solid darken($button-background-grey, 25%);
		clear: both;
		display: block;
		padding:  0;

		li {
			@include inline-block;
			font-size: $ui-font-text-small;
			margin: 10px 0;
			
			&:before {
				content: " / ";
			}

			&:first-child {
				&:before {
					display: none;
				}
			}

			a {
				color: $theme-background-highlight;
				font-size:  $ui-font-content-size;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
				&.bookmark-icon {
					@extend %awesome;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	#item-content {
		padding: 10px 0;		
		@include pie-clearfix;

		#item-content-enclosure {
			display: none;
		}
	}
}
#item-content { 
	h1,h2,h3,h4 {
		font-family: $ui-font-highlight;
		padding: 15px 0 5px 0;
	}

	@for $i from 1 through 4 {
		$ui-title-size: 1.6em - ( $i * 0.1);
		$ui-title-indent: $i * 5px;

		h#{$i} {
			font-size: $ui-title-size;	
			margin-left: $ui-title-indent;
		}
	}
	p {
		margin: {
			top: 5px;
			bottom: 5px;
		}

		&:first-letter{
			text-transform: uppercase;
		}
	}
	ul,
	ol {
		list-style-type: square;
		margin: 10px 0;
		padding: 0 0 0 30px;
	}
	pre,
	q,
	blockquote {	
		padding: 10px;
		margin: {
			top: 10px;
			bottom: 10px;
		}
		background-color: $theme-background-light;
	}

	q,
	blockquote {
		margin-left: 20px;
		margin-right: 20px;
	}
	strong {
		font-weight: bold;
	}
	img {
		display: block;
		margin: 15px auto 15px auto;
		max-width: 50%;
	}
}